# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Local raw datasets
data/raw/
